@import '../../_variables';

.home-container {
  display: flex;
  flex-direction: column;
  .home-first-section {
    width: 100%;
    height: 100vh;
    background-image: url('./../../images/svg/img-cut-landing.svg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position-y: center;
    background-position-x: center;


    h1 {
      margin: 200px 0 0 0;
      width: 300px;
      color: white;
      line-height: 40px;
      font-weight: 600;
      @media screen and (min-width: $break-large) {
        font-size: 2.5em;
        width: 400px;
        line-height: 50px;
        margin-top: 240px;
        font-weight: 600;
      }
      @media screen and (min-width: $break-extra-large) {
        font-size: 2.5em;
        width: 400px;
        line-height: 50px;
        margin-top: 300px;
        font-weight: 600;
      }
    }
    button {
      background-color: white;
      color: $primary-color;
      margin-top: 60px;
      font-weight: 500;
    }
  }
  .home-text {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 60px 0 0 0;
    hr {
      width: 50px;
      height: 0;
      color: $primary-color;
      margin: 20px;
    }
    p {
      color: $text-lighter-color;
      padding: 0 10px;
      max-width: 560px;
      font-size: 0.8em;
    }
  }
  .home-augmented-reality-section {
    background-image: url('./../../images/svg/img-landing.svg'),
      url('./../../images/svg/curve.svg'), url('./../../images/svg/circle.svg');
    height: 800px;
    background-repeat: no-repeat;
    background-size: 330px, 900px, 30%;
    background-position: center top, -30vw 150px, 85vw bottom;

    @media screen and (min-width: $break-small) {
      background-size: 350px, 900px, 30%;
      background-position: 5px 20px, -10vw 100px, 85vw bottom;
      height: 600px;
    }

    @media screen and (min-width: $break-medium) {
      background-size: 600px, 1050px, 30%;
      background-position: -5px -10px, 3vw 180px, 85vw bottom;
      height: 800px;
    }

    @media screen and (min-width: $break-large) {
      background-size: 850px, 1350px, 30%;
      background-position: -5px -25px, 8vw 250px, 85vw bottom;
      height: 1050px;
    }

    @media screen and (min-width: $break-extra-large) {
      background-size: 850px, 1450px, 30%;
      background-position: 110px -25px, 10.5vw 250px, 85vw bottom;
      height: 1100px;
    }

    div {
      position: relative;
      top: 400px;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      align-items: flex-start;

      @media screen and (min-width: $break-small) {
        top: 100px;
        left: 400px;
        padding: 0;
        width: calc(100vw - 420px);
      }

      @media screen and (min-width: $break-medium) {
        top: 220px;
        left: 620px;
        padding: 0;
        width: calc(100vw - 650px);
        max-width: 600px;
      }

      @media screen and (min-width: $break-large) {
        top: 350px;
        left: 920px;
        padding: 0;
        width: calc(100vw - 990px);
      }

      @media screen and (min-width: $break-extra-large) {
        top: 350px;
        left: 1060px;
        padding: 0;
        width: calc(100vw - 990px);
      }

      hr {
        position: absolute;
        height: 2px;
        border: none;
        background-image: linear-gradient(to right, #4d81ff, #773fff);
        top: 72px;
        &.separator {
          width: 20px;
        }
        &.separator-2 {
          margin-left: 25px;
          width: 55px;
          background-color: #fa6109;
        }
      }
      p {
        color: $text-lighter-color;
        line-height: 1.8;
        margin-top: 15px;
        text-align: left;
        @media screen and (min-width: $break-large) {
          width: 95%;
        }

        @media screen and (min-width: $break-extra-large) {
          width: 72%;
        }
      }
      button {
        background-color: $primary-color;
        color: white;
        box-shadow: 0px 14px 10px 0px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        font-weight: 100;
      }
    }
  }
}
