@import '../../_variables';

.navbar-container {
  min-height: 73.6px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 100px;

  ul {
    display: flex;
    align-items: center;
    width: 500px;
    a {
      text-decoration: none;
      :hover {
        color: black;
      }
      button {
        color: $primary-color;
        padding: 10px;
        cursor: pointer;
      }
    }
    li {
      list-style: none;
      color: white;
      font-size: 0.9em;
      margin-right: 50px;
    }
  }
}
