@import '../../variables';

.employees-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./../../images/svg/curve.svg'),
    url('./../../images/svg/el-1.svg'), url('./../../images/svg/el-1.svg');
  background-size: 150%, 8%, 8%;
  background-position: 30% 80%, 80vw 75px, 10vw 50px;
  background-repeat: no-repeat;
  padding: 60px 0 100px 0;
  h2 {
    color: $primary-color;
    margin: 50px 0 150px 0;
    font-weight: 600;
  }

  .employees-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: $break-medium) {
    background-size: 80%, 5%, 5%;
    background-position: 230px -500px, 80vw 100px, 12vw 30px;
    height: auto;
    margin: 0;
    
    .employees-card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 80vw;
      justify-items: center;
      grid-gap: 30px;
    }
  }

  @media screen and (min-width: $break-large){
    background-size: 75%, 3%, 3%;
    background-position: 290px -700px, 76vw 150px, 25vw 90px;
    height: auto;
    .employees-card {
      width: 60vw;

    }
  }

  @media screen and (min-width: $break-extra-large){
    background-size: 75%, 3%, 3%;
    background-position: 450px -900px, 76vw 100px, 23vw 95px;
  }
}
