@import './variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  p {
    font-family: $font-family-main;
    margin: 0;
    font-size: 0.9em;
  }
  h1 {
    font-family: $font-family-secundary;
    margin: 0;
    font-size: 2em;
    font-weight: 600;
  }
  h2 {
    font-family: $font-family-secundary;
    font-weight: 500;
    font-size: 1.7em;
  }

  h4 {
    font-family: $font-family-secundary;
    font-weight: 600;
    font-size: 0.8em;
    color: white;
    margin: 0 0 10px 0;
  }

  h5 {
    font-family: $font-family-secundary;
    font-size: 1em;
    margin: 5px 0;
  }

  ul,li {
    font-family: $font-family-secundary;
  }

  button {
    width: 160px;
    padding: 12px 20px;
    border-radius: 30px;
    border-style: none;
    font-family: $font-family-secundary;
    font-size: 0.8em;
    outline: none;
    
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
